@charset "utf-8";
*{
    margin: auto;
    background-color: #585858;
}
.logo{
    width: 400px;
    margin: 0px;
}
form{
    margin-top: 100px;
    border: 1px solid white;
    width: 400px;
    height: 500px;
    color: white;
}
b{
    color: #03c75a;
}
input{
    margin-top: auto;
}
label{
    font-weight: bold;
}
p{
    font-size: small;
    border: 1px solid white;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}
button{
    display: block;
    text-align: center;
    margin-top: 35px;
    border: 1px solid #03c75a;
    background-color: #03c75a;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:disabled {
    background-color: #b6b4b4;
    border: 1px solid #b6b4b4;
    cursor: not-allowed;
}
#checkbox1, #checkbox2 {
    margin-top: 0px;
    margin-left: 10px;
}
.second{
    margin-top: 10px;
}
